@inherits LayoutComponentBase

<div class="gg-layout">
    <NavMenu />
    <div class="gg-main">
        <header class="gg-topbar">
            <AuthorizeView>
                <Authorized>
                    <span class="gg-topbar__email">@context.User.FindFirst(System.Security.Claims.ClaimTypes.Email)?.Value</span>
                </Authorized>
            </AuthorizeView>
        </header>
        <article class="gg-content">
            @Body
        </article>
    </div>
</div>
